body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.btn-legg-til {
  width: 618px;
  border-radius: 3px;
  background-color: teal;
  height: 40px;
  font-size: 1.2em;
  color:#d3d5c2;
  margin: 0 auto;
}
.cell {
  border-radius: 3px;
  background-color:#a6ab8482;
  width: 100px;
  height: 100px;
}

.grid {
  margin: 0 auto;
}


.rabbit-card {
  padding: 10px 20px;
  width: 200px;
  margin-bottom: 20px;
  border: 2px solid papayawhip;
  border-radius: 10px;
  box-shadow: 5px 7px 7px tomato;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto)
}

.center {
  grid-column: 2;
  grid-row: 2;
}

.center-right {
  grid-column: 3;
  grid-row: 2;
}

.center-left {
  grid-column: 1;
  grid-row: 2;
}

.top-center {
  grid-column: 2;
  grid-row: 1;
}

.snack {
  font-size: 2em;
}
.rabbit-head {
  font-size: 3em;
}
.rabbit-name-female {
  display: block;
  color:#ff1cea;
}
.rabbit-name-male {
  display: block;
  color: blue;
}
.rabbit-gender {
  margin-top: -10%;
  display: block;
}
.rabbit-fitness {
  display: block;
  margin-top: -15%;
}