body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell {
  background-color:#a6ab8482;
  width: 100px;
  height: 100px;
}

.grid {
  margin: 0 auto;
  width: 522px;
}

.rabbit {

}
.rabbit-head {
  font-size: 3em;
}
.rabbit-name-female {
  display: block;
  color:#ff1cea;
}
.rabbit-name-male {
  display: block;
  color: blue;
}
.rabbit-gender {
  margin-top: -10%;
  display: block;
}
.rabbit-fitness {
  display: block;
  margin-top: -15%;
}