body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.btn-legg-til {
  width: 618px;
  border-radius: 3px;
  background-color: teal;
  height: 40px;
  font-size: 1.2em;
  color:#d3d5c2
}
.cell {
  border-radius: 3px;
  background-color:#a6ab8482;
  width: 100px;
  height: 100px;
}

.grid {
  margin: 0 auto;
  width: 625px;
}

.rabbit {

}
.snack {
  font-size: 2em;
}
.rabbit-head {
  font-size: 3em;
}
.rabbit-name-female {
  display: block;
  color:#ff1cea;
}
.rabbit-name-male {
  display: block;
  color: blue;
}
.rabbit-gender {
  margin-top: -10%;
  display: block;
}
.rabbit-fitness {
  display: block;
  margin-top: -15%;
}